/* VARIABLES */
:root {
  --brown: #463718;
  --white: white;
  --lime: lime;
  --lightbrown: #9B8473;
  --text: 'Replica Pro';
  /* --bold: 'Replica Bold';
	--bolditalic: 'Replica Bold'; */
  --siggy: 'Siggy RJ numbers';
}

/* FONTS */

/* BASICS */
html, body {
  text-decoration: none;
}

body {
  text-decoration: none;
  background-color: lightgrey;
}

.title {
  font-size: 5vw;
  font-family: sans-serif;
  margin-left: 10%;
  margin-top: 5%;
  color: rgb(72, 255, 0);
}

.main-text {
  width: 50%;
  font-size: 1.5vw;
  font-family: sans-serif;
  margin-left: 10%;
  margin-top: 5%;
}

img {
  width: 30%;
  align-items: center;
  margin-left: 10%;
  margin-top: 5%;
}
